@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "NotoSans";
  src: url("./assets/fonts/NotoSans-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
}
body {
  font-family: "NotoSans";
  color: #545969;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
main {
  min-height: 100vh;
}
.bg-check {
  background-color: #c2251c;
}
